*{
    padding: 0px;
    margin: 0px;
}

.container{
    width: 300px;
    margin: 20px auto;
    background-color: white;
    padding: 5px;
    border: 1px solid gainsboro;
}


.content{
    background-color: rgb(220, 238, 255);
    padding: 20px;
}

ul{
    
    margin-left: 20px;
    list-style: circle;
}


li{
    font-size: 24px;
    transition: transform 2s, width 2s;
}

li:hover{
    color: red;
    background-color: gray;
    transform: translateX(40px);
    width: 220px;
}




