*{
    padding: 0px;
    margin: 0px;
}

.container{
    padding: 100px;
    display: grid;
    row-gap: 10px;
}

h1{
    color: rgb(240, 204, 5);
}





.p3{
    padding: 10px;
    background-color: rgb(247, 247, 128);

}
